@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
.loader {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.fakeWeather {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    .wr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .title {
        font-size: 20px;
        font-weight: 500;
    }
    .temp {
        font-size: 40px;
        margin-left: 10px;
    }
    .date {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }
    .left {
        
        display: flex;
        align-items: center;
    }
    .sky {
        font-weight: 500;
    }
    .feel-like {
        display: flex;
       p {
           font-weight: 500;
           margin-right: 5px;
       }
    }
}