.fakeWeather {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .wr {
        display: flex;
        justify-content: space-between;
    }
    .title {
        font-size: 20px;
    }
    .temp {
        font-size: 40px;
    }
}