
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

body {
    display: flex;
    justify-content: center;
}

.main {
    width: 400px;
    
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 15px 20px rgba(194, 188, 188, 0.2);

    .inp_wr {
        position: relative;
        display: flex;
        justify-content: center;
        .input {
            width: 250px;
            height: 40px;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 15px;
            background: rgba(232, 232, 232, 0.5);
            color: grey;
        }
    }

}


.error-icon {
    width: 150px;
    fill: #E8E8E8;
}
.place-icon {
    width: 15px;
    margin-right: 5px;
}
.cloud-icon {
    width: 20px;
    
}
.search-icon {
    position: absolute;
    right: 65px;
    top: 7px;
    fill: grey;
}